html,
body {
  height: 100%;
}
.container-header {
    display: flex;
    align-items: center;
    min-width: 768px;
    justify-content: space-between;
}
header {
    background-color: #182b49;
    height: 80px;
    border-bottom: solid #d3545c 3px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 35%;
}
input {
    margin-top: 10px;
    margin-bottom: 10px;
}
.logo {
    display: flex;
    width: 150px;
}
.title {
    font-family: arial;
    font-size: 17px;
    color: black;
    margin-left: 30px;
}
.titles {
    display: flex;
    align-items: baseline;
    margin-left: 7%;
    justify-content: flex-end;
    margin-right: 60px;
}

.post {
    width: 60%;
    padding: 20px;
    padding-bottom: 0px;
    background-color: #313233;
    margin: 5px;
    max-width: 600px;
    border-bottom: solid #d3545c 3px;
    display: flex;
    flex-direction: column;

}
article {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
}
li {
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
textarea {
    width: 100%;
    height: 100px;
}
.container-form {
    display: flex;
    flex-direction: column;
}
.btn-likes, .btn-dislikes {
    margin: 10px;
    background-color: transparent;
    border: none;
}
.likes-icon, .dislikes-icon {
    width: 25px;
}
.dislikes-icon {
    transform: rotate(0.5turn);
}
.div-likes, .div-dislikes {
    display: flex;
    align-items: center;
}
a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;

}
.title-post {
    color: #FFFFFF;
    text-align: center;
    font-size: 1.5em;
}
.pPost {
    font-size: 1.5em;
}
p, .navbar, .span-likes {
    color: #d4d3d3;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.span-post, .span-footer, .author {
    color: #9a9998;
    font-family: Arial, Helvetica, sans-serif;
}
footer {
    background-color: #182b49;
    height: 380px;
    border-top: solid #d3545c 3px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
}
.logo-footer {
    margin-bottom: 50px;
    width: 200px;
}
h1 {
    font-family: arial;
    font-size: 2em;
    text-align: center;
}
.author {
    font-size: 1em;
}
.content-modify {
    display: flex;
    justify-content: space-between;
}
.link-modify-post  {
    color: #182b49;
} 
.modify-post, .delete-post {
    color: #182b49;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: 150px;
    height: 25px;
    margin-right: 20px;
}
.img-post {
    border: #FFFF solid 2px;
    width: 40%;
    margin: 30px auto;
    display: block;
}
.post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete {
    display: flex;
    justify-content: center;
}

.delete-account {
    background: red;
    border: none;
    border-radius: 4px;
    padding: 5px;
    color: white;
}


@media all and (max-width: 768px) {
    .container-header {
        flex-direction: column;
    }
    header {
        height: 150px;
    }
    .logo {
        width: 200px;
        margin-top: 43px;
    }
    ul {
        flex-direction: column;
    }
    header {
        height: 300px;
    text-align: center;
    }
    .content-modify, .post-footer {
        flex-direction: column;
    }
    .delete-post, .modify-post {
        margin: 0;
    }
    .post-main {
        display: flex;
        flex-direction: column;
    }
}
